@charset "UTF-8";

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

p,
h1,
h2,
span {
	color: #333333;
}

a {
    transition : all 0.5s ease 0s;
}

/*--------------------------------
ヘッダー
---------------------------------*/
#header {
	height: 60px;
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.Cart_buttun {
	text-decoration: none;
	border-radius: 5px;
    background: white;
	border: 3px solid #f56500;
    padding: 10px 20px;
    color: #f56500;
	line-height: 40px;
	height: 40px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 16px;
}

.Login_buttun {
	text-decoration: none;
	border-radius: 5px;
    background: #f56500;
    padding: 10px 20px;
    color: white;
	line-height: 40px;
	height: 40px;
	border: 3px solid #f56500;
	font-weight: bold;
}

#header-btns {
	margin-left: auto;
	margin-right: 40px;
	display: flex;
	align-items: center;
}

h1 {
	margin-left: 20px;
}

/*Go to top*/
a:hover {
    background-color: #ed702b;
}

.Cart_buttun:hover {
	background-color: white;
	opacity: 0.7;
}

.Cart_buttun::before {
	content: "";
    display: inline-block;
    background-image: url("../images/cart-icon.svg");
    height: 28px;
    width: 28px;
	position: relative;
	top: 8px;
}

.User-inner {
	margin-right: 10px;
}

#User-name {
	font-weight: bold;
}

.head-pr {
	font-size: 0.8rem;
}

/*--------------------------------
パンくずリスト
---------------------------------*/
.Breadcrumb {
    background: #f56500;
    color: #fff;
    padding: 0.1em;
    margin-top: 60px;
	margin-bottom: 40px;
}

.Breadcrumb-ListGroup {
    display: flex;
}

.Breadcrumb-ListGroup-Item-Link[href]:hover {
    opacity: 0.5;
}

.Breadcrumb-ListGroup-Item-Link {
	text-decoration: none;
}

.Breadcrumb-ListGroup-Item-Link span {
	color: white;	
}

.Breadcrumb-ListGroup-Item {
	list-style: none;
	padding: 0.625rem 0;
}

.Breadcrumb-ListGroup > * + * {
    margin-left: 0.5em;
}

.Breadcrumb-ListGroup > * + *::before {
    content: ">";
    margin-left: 0.75em;
    margin-right: 0.75em;
	color: white;
}

/*--------------------------------
ガイドリスト
---------------------------------*/
ol.Guide-list{
    counter-reset:list;
    list-style-type: none;
    font: 14px/1.6 'arial narrow', sans-serif;
    padding: 0;
    z-index: 10;
}

ol.Guide-list li{
    position: relative;
    margin: 7px 0 7px 0px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    border-top: 2px solid #FF942A;
    border-right: 2px solid #FF942A;
    border-bottom: 2px solid #FF942A;
    color: #756C67;
    min-width: 140px;
    background: #fff;
}

ol.Guide-list li:before{
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: 0px;
    width: 32px;
    height: 100%;
    text-align: center;
    color: #fff;
    line-height:30px;
    background: #FF942A;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Guide-list {
	width: 20%;
	margin-left: 2rem;
	position: fixed;
}

ol.Guide-list li a {
	text-decoration: none;
	color: #333333;
	display: block;
}

ol.Guide-list li a:hover {
	background-color: white;
	opacity: 0.7;
}

/*--------------------------------
よくある質問
---------------------------------*/
h2 {
	display: block;
	text-align: center;
	font-weight: bold;
}

#register {
	/* width: 700px; */
	width:100%;
	margin: 20px auto;
	border-bottom: 5px solid #f56500;
}

h3 {
	width: 100%;
	margin: 3rem auto 0.5rem auto;
}

dl {
    width:100%;
    margin:0 auto 2rem;
}

dt,
dd {
    padding:.5rem 1rem;
}

dt {
    color:#fff;
    background:#FF942A;
    position:relative;
}

dt:hover {
    background:#7bf;
}

dd {
    display:none;
    border-right: 3px solid #FF942A;
    border-left: 3px solid #FF942A;
    border-bottom: 3px solid #FF942A;
}

dt::after {
    content:"\e5cf";
    display:block;
    font-family:'Material Icons';
    font-weight:400;
    position: absolute;
    font-size:2em;
    top: 50%;
    right: 20px;
    transform:translateY(-50%);
}

dt.active::after {
    content:"\e5ce";
}

/* .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
} */

.Answer {
	color: #E7402D;
}

.Btn-reg {
	text-decoration: none;
	border: 1px solid #f56500;
	color: #f56500;
	padding: 0.5rem 1rem;
}

.Btn-reg:hover {
	background: none;
	opacity: 0.7;
}

#Guide-delivery {
	max-width: 1100px;
}

main div {
	margin: 0 3% 0 auto;
}

.q-block::before {
	content: "■";
	width: 30px;
	height: 30px;
	color: #f56500;
}

/*--------------------------------
フッター
---------------------------------*/
.Footer_ul {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0;
	margin: 0 auto;
}

.Footer_li {
	margin-top: 40px;
	width: 20%;
	list-style: none;
}

.Footer_inner {
	height: 240px;
	background: #FF942A;
	margin-top: 200px;
}

.Footer_a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.Footer_img {
	margin: 0 auto;
	margin-top: 40px;
}

.Footer_copy {
	height: 30px;
	background: #f56500;
	text-align: center;
}

.Footer_copy_txt {
	color: white;
	line-height: 30px;
}

/*--------------------------------
ここからタブレット・sp
---------------------------------*/
@media screen and (max-width: 1500px) {
	/* 1300px以下に適用されるCSS（タブレット用） */

/*--------------------------------
配送
---------------------------------*/
    #Guide-delivery {
	    max-width: 800px;
    }

}

@media screen and (max-width: 1050px) {
	/* 1050px以下に適用されるCSS（タブレット用） */

/*--------------------------------
ヘッダータブレット
---------------------------------*/
    h1 {
	    margin-left: 0;
    }

    #header img {
	    height: 3rem;
	}

	.head-pr {
		display: none;
	}

	#header {
		height: 60px;
	}
	
    .Cart_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
		margin-right: 0;
    }

    .Login_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
    }

    #header-btns {
	    margin-right: 1rem;
    }

/*--------------------------------
よくある質問タブレット
---------------------------------*/
    #register {
	    width: 95%;
	    margin: 20px auto;
	    border-bottom: 5px solid #f56500;
    }
	
	#Guide-delivery {
		width: 95%;
	}

}

@media screen and (max-width: 860px) {
	/* 860px以下に適用されるCSS（スマホ用） */

/*--------------------------------
ガイドリスト
---------------------------------*/
	.Guide-list {
		display: none;
	}

/*--------------------------------
配送
---------------------------------*/
	main div {
		margin: 0 auto;
	}

}

@media screen and (max-width: 640px) {
	/* 640px以下に適用されるCSS（スマホ用） */

/*--------------------------------
ヘッダーsp
---------------------------------*/
    h1 {
	    margin-left: 0;
    }

    #header img {
	    height: 3rem;
	}

	.head-pr {
		display: none;
	}

	#header {
		flex-direction: column;
		height: 120px;
	}
	
    .Cart_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
		margin-right: 0;
    }

    .Login_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
    }

    #header-btns {
	    margin: 0 auto;
		display: flex;
		flex-direction: column-reverse;
    }

	.User-inner {
		margin-top: 0.3rem;
	}

/*--------------------------------
パンくずリストsp
---------------------------------*/
	.Breadcrumb {
		margin-top: 120px;
	}

/*--------------------------------
会員登録sp
---------------------------------*/
    h2 {
	    display: block;
	    text-align: center;
	    font-weight: bold;
    }

    #register {
	    width: 300px;
	    margin: 20px auto;
	    border-bottom: 5px solid #f56500;
    }

/*--------------------------------
よくある質問sp
---------------------------------*/
	h3 {
		width: 95%;
		text-align: center;
	}
	
	dl {
		width: 95%;
	}


/*--------------------------------
フッターsp
---------------------------------*/
    .Footer_a {
	    /* font-size: 0.75rem; */
		/* width: 50%; */
		display: block;
		padding: 1rem 1rem;

    }

	.Footer_ul {
		flex-wrap: wrap;
		/* justify-content: space-around; */
	}
	
	.Footer_li {
		width: 50%;
		margin-top: 0;
		/* padding: 0.5rem 1rem; */
	}
	
	.Footer_img {
		margin-top: 1rem;
	}

}