@charset "UTF-8";
/* CSS Document */

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

p,
h1,
h2,
span {
	color: #333333;
}

a {
    transition : all 0.5s ease 0s;
}

/*--------------------------------
ヘッダー
---------------------------------*/
#header {
	height: 60px;
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.Cart_buttun {
	text-decoration: none;
	border-radius: 5px;
    background: white;
	border: 3px solid #f56500;
    padding: 10px 20px;
    color: #f56500;
	line-height: 40px;
	height: 40px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 16px;
}

.Login_buttun {
	text-decoration: none;
	border-radius: 5px;
    background: #f56500;
    padding: 10px 20px;
    color: white;
	line-height: 40px;
	height: 40px;
	border: 3px solid #f56500;
	font-weight: bold;
}

#header-btns {
	margin-left: auto;
	margin-right: 40px;
	display: flex;
	align-items: center;
}

h1 {
	margin-left: 20px;
}

/*Go to top*/
a:hover {
    background-color: #ed702b;
}

.Cart_buttun:hover {
	background-color: white;
	opacity: 0.7;
}

.Cart_buttun::before {
	content: "";
    /* background-image: url("../images/cart-icon.svg"); */
    display: inline-block;
    background-image: url("../images/cart-icon.svg");
    height: 28px;
    width: 28px;
	position: relative;
	top: 8px;
}

.User-inner {
	margin-right: 10px;
}

#User-name {
	font-weight: bold;
}

.head-pr {
	font-size: 0.8rem;
}

/*--------------------------------
メインビジュアル
---------------------------------*/
.MainVis {
	margin-bottom: 120px;
	margin-top: 60px;
}

.MainVis_img {
	margin: 0 auto;
	display: block;
	max-width: 95%;/*変更*/
}

.MainVis_inner {
	max-width: 1100px;
	margin: 0 auto;
	/* border: 1px solid black; */
	margin-bottom: 120px;/*変更*/
}

.MainVis_headline {
	text-align: center;
	font-size: 24px;
	/* margin-bottom: 60px; */
}

.MainVis_headline_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.MainVis_headline_txt {
	font-size: 15px;
	margin-right: 5rem;
	font-weight: bold;
}

.MainVis_headline_txt span {
	color: #FF942A;
	font-size: 1.2rem;
}
/* ここからpcのスライダー */
.loop_wrap_pc {
    display: flex;
    /* width: 100vw; */
    height: 100px;
    overflow: hidden;
}

.loop_wrap_pc img {
    width: auto;
    height: 100%;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.loop_wrap_pc img:first-child {
    animation: loop 50s -25s linear infinite;
}

.loop_wrap_pc img:last-child {
    animation: loop2 50s linear infinite;
}

/* pcのスライダーここまで */

/* ここからspのスライダー */
.loop_wrap_sp1 {
    display: flex;
    /* width: 100vw; */
    height: 120px;
    overflow: hidden;
}

.loop_wrap_sp1 img {
    width: auto;
    height: 100%;
}

@keyframes loop3 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop4 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.loop_wrap_sp1 img:first-child {
    animation: loop3 100s -50s linear infinite;
}

.loop_wrap_sp1 img:last-child {
    animation: loop4 100s linear infinite;
}

.loop_wrap_sp2 {
    display: flex;
    /* width: 100vw; */
    height: 120px;
    overflow: hidden;
}

.loop_wrap_sp2 img {
    width: auto;
    height: 100%;
}

@keyframes loop5{
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes loop6 {
  0% {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

.loop_wrap_sp2 img:first-child {
    animation: loop5 100s -50s linear infinite;
}

.loop_wrap_sp2 img:last-child {
    animation: loop6 100s linear infinite;
}

/* spのスライダーここまで */

.MainVis_sp {
	display: none;
}

.MainVis_sp_s {
	display: none;
}

/*--------------------------------
会員登録ボタン
---------------------------------*/
/* .Member_registration_button {
	max-width: 200px;
	height: 35px;
	border: 1px solid gray;
	margin: 0 auto;
	border-radius: 10px;
} */

/* .Member_registration_button {
	text-align: center;
	display: block;
} */

.Member_registration_txt {
	line-height: 35px;
	font-size: 24px;/*変更*/
	text-decoration: none;
	padding: 15px 40px;
	font-weight: bold;
}

.Selection_btn {
    background-color: #fbafaf;
    border-bottom: solid 2px #ca2c2c;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0 15px 0 15px;
    /* padding: 5px 10px; */
}

.active {
    background-color: #ed702b;
}

.btn {
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	display: block;
}

.btn--orange,
a.btn--orange {
    color: #fff;
    background-color: #eb6100;
}

.btn--orange:hover,
a.btn--orange:hover {
    color: #fff;
    background: #f56500;
}

a.btn--radius {
    border-radius: 100vh;
}

/*--------------------------------
サイト導線
---------------------------------*/
#Lead-Wire {
	margin: 0 auto 120px;
	overflow: scroll;
	/* padding: 25px; */
	max-width: 1140px;
	height: 500px;
	border: 2px solid #ccc;
}

#Image-Element {
	width: 1100px;
	margin: 0 auto;
}

h2 {
	display: block;
	text-align: center;
	font-weight: bold;
}

.register {
	width: 700px;
	margin: 20px auto;
	border-bottom: 5px solid #f56500;
}

.Conductor-Element {
	position: relative;
}

.Member_registration_button {
	position: absolute;
    transform: translate(692px,-1611px);
}

/*--------------------------------
ダンボールセレクト
---------------------------------*/
.Selection_inner {
	text-align: center;
	margin-bottom: 30px;
}

.btns {
	padding: 0;
	display: flex;
	display: inline-block;
	margin: 0 auto;
}

#btn1 {
	padding: 10px 50px;	
}

/*--------------------------------
セレクト全体
---------------------------------*/
.Body_inner {
	max-width: 1500px;/*変更*/
	margin: 0 auto;
	padding: 0 1vw;
	/* border:1px solid black; */
	display: flex;
}

hr {
	margin: 10px 0;
}

input {
	border-radius: 5px;
	border: 1px solid #333333;
}

select {
	border-radius: 5px;
	border: 1px solid #333333;
}

/*--------------------------------
プレビュー
---------------------------------*/
.Preview_inner {
	/* border: 1px solid black; */
	margin-right: 50px;
}

.Preview_box {
	width: 400px;
	height: 400px;
	border: 3px solid #333333;
	/* border-radius: 10px; */
	margin-top: 10px;
}

.Preview_txt {
	font-weight: bold;
}

/*--------------------------------
画像
---------------------------------*/
.Custom_inner {
	width: 100%;
	max-width: 1270px;
	min-width: 740px;
	/* border: 1px solid black; */
}

.Custom_image_box {
    width: 100%;
	max-width: 1270px;
	min-width: 500px;
	/* border: 1px solid black; */
	display: flex;
}

.Image_selection_txt_box {
	width: 150px;
	min-width: 150px;
	/* border: 1px solid black; */
	background: #DBDBDB;
	position: relative;
}

.Image_selection_txt {
	/*text-align: center;*/
	/*line-height: 678px;*/
	/*padding-top: 100%;*/
	/*padding-bottom: 100%;*/
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.Image_selection_box {
	width: 150px;
	height: 170px;
	/* border: 1px solid black; */
	margin: 20px;
}

.Input_file {
	width: 124px;
	font-size: 14px;
	padding-left: 0.4rem;
}

.Image_selection_inner {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	/* padding: 0 1em 0 1em; */
	/* justify-content: center; */
	/* border-bottom: 1px solid gray; */
}

.Input_file {
	border: none;
}

.Image_selection_box img {
	border-radius: 10px;
}

.Reset_buttun {
	/* text-decoration: none;
	border-radius: 5px;
    background: #f56500;
    padding: 5px 10px;
    color: white;
	line-height: 40px;
	height: 40px; */
	text-decoration: none;
	border-radius: 5px;
    background: white;
	border: 1px solid #f56500;
    padding: 5px 10px;
    color: #f56500;
	line-height: 40px;
	height: 40px;
}

.Reset_buttun:hover {
	background-color: white;
	opacity: 0.7;
}

#Reset-inner {
	margin-top: 20px;
	text-align: left;
	padding: 0 1em 0 1em;
	margin-left: 10px;
}

/*--------------------------------
形状
---------------------------------*/
.Shape_selection_txt_box {
	max-width: 150px;
	min-width: 150px;
	/* border: 1px solid black; */
	background: #DBDBDB;
	position: relative;
}

.Shape_txt_inner {
	text-align: center;
	/*line-height: 678px;*/
	/*padding-top: 100%;*/
	/*padding-bottom: 100%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    max-width: 150px;
	min-width: 150px;
}

.Shape_selection_txt {
	font-size: 20px;
	font-weight: bold;
}

/* .Shape_selection_inner {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
} */

.Custom_shape_box {
    width: 100%;
	max-width: 1270px;
	min-width: 500px;
	/* border: 1px solid black; */
	display: flex;
}

/* ▼タブ */
#tabcontrol a {
    display: inline-block;                  /* インラインブロック化 */
    border-width: 3px 3px 0px 3px;          /* 下以外の枠線を引く */
    border-style: solid;                    /* 枠線の種類：実線 */
    border-color: #DBDBDB;                  /* 枠線の色：黒色 */
    /* border-radius: 0.75em 0.75em 0 0; */ /* 枠線の左上角と右上角だけを丸く */
    padding: 0.75em 1em;                    /* 内側の余白 */
    text-decoration: none;                  /* リンクの下線を消す */
    color: #333333;                           /* 文字色：黒色 */
    background-color: #f56500;                /* 背景色：白色 */
    font-weight: bold;                      /* 太字 */
    position: relative;                     /* JavaScriptでz-indexを調整するために必要 */
}

#tabcontrol a:first-child {
	border-width: 3px 3px 0px 0px;
}

/* ▼タブにマウスポインタが載った際(任意) */
#tabcontrol a:hover {
    /* text-decoration: underline; */       /* 文字に下線を引く */
	color: #f56500;
}

/* ▼タブの中身 */
#tabbody div {
	border-width: 3px 3px 3px 0px;
    border-style: solid;     /* 枠線：黒色の実線を1pxの太さで引く */
    border-color: #DBDBDB;
	margin-top: -3px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    padding: 1em;            /* 内側の余白量 */
    background-color: white; /* 背景色：白色 */
    position: relative;      /* z-indexを調整するために必要 */
    z-index: 0;              /* 重なり順序を「最も背面」にするため */
}

/* ▼タブの配色 */
#tabcontrol a:nth-child(1), #tabbody div:nth-child(1) { background-color: #fff; }/* 1つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(2), #tabbody div:nth-child(2) { background-color: #fff; }/* 2つ目のタブとその中身用の配色 */
/* #tabcontrol a:nth-child(3), #tabbody div:nth-child(3) { background-color: #fff; }*/ /* 3つ目のタブとその中身用の配色 */
/* #tabcontrol a:nth-child(4), #tabbody div:nth-child(4) { background-color: #fff; }*/ /* 4つ目のタブとその中身用の配色 */

.Shape_selection_inner {
	width: 100%;
	max-width: 1270px;
	min-width: 290px;
	/* border-bottom: 1px solid gray; */
}	

input[type=radio]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    width: 250px;
    height: 250px;
	margin: 10px;
	/* border-radius: 10px; */
}

/* ここからテンプレート（デザイン） */
input[type=radio][value="shape01"]+label:before{
    background-image: url("../images/Design01-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape02"]+label:before{
    background-image: url("../images/Design01-B.png");
	background-repeat: no-repeat;
}
    
input[type=radio][value="shape03"]+label:before{
    background-image: url("../images/Design01-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape04"]+label:before{
    background-image: url("../images/Design02-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape05"]+label:before{
    background-image: url("../images/Design02-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape06"]+label:before{
    background-image: url("../images/Design02-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape07"]+label:before{
    background-image: url("../images/Design03-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape08"]+label:before{
    background-image: url("../images/Design03-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape09"]+label:before{
    background-image: url("../images/Design03-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape10"]+label:before{
    background-image: url("../images/Design04-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape11"]+label:before{
    background-image: url("../images/Design04-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape12"]+label:before{
    background-image: url("../images/Design04-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape13"]+label:before{
    background-image: url("../images/Design05-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape14"]+label:before{
    background-image: url("../images/Design05-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape15"]+label:before{
    background-image: url("../images/Design05-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape16"]+label:before{
    background-image: url("../images/Design06-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape17"]+label:before{
    background-image: url("../images/Design06-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape18"]+label:before{
    background-image: url("../images/Design06-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape19"]+label:before{
    background-image: url("../images/Design07-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape20"]+label:before{
    background-image: url("../images/Design07-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape21"]+label:before{
    background-image: url("../images/Design07-C.png");
	background-repeat: no-repeat;
}

/* ここまでテンプレート（デザイン） */

/* ここからテンプレート（形状） */
input[type=radio][value="shape22"]+label:before{
    background-image: url("../images/Shape01-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape23"]+label:before{
    background-image: url("../images/Shape01-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape24"]+label:before{
    background-image: url("../images/Shape01-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape25"]+label:before{
    background-image: url("../images/Shape02-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape26"]+label:before{
    background-image: url("../images/Shape02-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape27"]+label:before{
    background-image: url("../images/Shape02-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape28"]+label:before{
    background-image: url("../images/Shape03-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape29"]+label:before{
    background-image: url("../images/Shape03-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape30"]+label:before{
    background-image: url("../images/Shape03-C.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape31"]+label:before{
    background-image: url("../images/Shape04-A.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape32"]+label:before{
    background-image: url("../images/Shape04-B.png");
	background-repeat: no-repeat;
}

input[type=radio][value="shape33"]+label:before{
    background-image: url("../images/Shape04-C.png");
	background-repeat: no-repeat;
}

/* ここまでテンプレート（形状） */

input[type=radio]:checked+label::before{
    border: 4px solid #FF942A;
    box-sizing: border-box;
}

input[type=radio]{
    display: none;
} 

.Template-btns {
	display: inline-block;
	width: 244px;
	margin: 0;
}

/* ここからテンプレート画像ポップアップ */

/* 01 */
.modal_pop{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left:0;
    z-index:9997!important;
}
.bg{
    background-color: #1119;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:9998!important;
}
.modal_pop img{
    height:80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:9999!important;
}

/* 02 */
.modal_pop02{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left:0;
    z-index:9997!important;
}
.bg{
    background-color: #1119;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:9998!important;
}
.modal_pop02 img{
    height:80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:9999!important;
}

/* 03 */
.modal_pop03{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left:0;
    z-index:9997!important;
}
.bg{
    background-color: #1119;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:9998!important;
}
.modal_pop03 img{
    height:80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:9999!important;
}

/* 04 */
.modal_pop04{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left:0;
    z-index:9997!important;
}
.bg{
    background-color: #1119;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:9998!important;
}
.modal_pop04 img{
    height:80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:9999!important;
}

/*--------------------------------
配色
---------------------------------*/
.Custom_color_box {
    width: 100%;
	max-width: 1270px;
	min-width: 500px;
	/* border: 1px solid black; */
	display: flex;
	/* align-items: center; */
}

.Color_selection_txt_box {
	max-width: 150px;
	min-width: 150px;
	min-height: 100px;
	/* border: 1px solid black; */
	background: #DBDBDB;
	position: relative;
}

.Color_selection_txt {
	/*text-align: center;*/
	/*line-height: 678px;*/
	/*padding-top: 100%;*/
	/*padding-bottom: 100%;*/
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

input[type=radio]+.Color_label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    width: 50px;
    height: 50px;
	margin: 25px 10px 10px 10px;
	border-radius: 50%;
}

input[type=radio][value="color01"]+label:before{
    /* background: #e0e0e0; */
	background-image: url("../images/Color_1.png");
}

input[type=radio][value="color02"]+label:before{
    /* background: #ffd1d1; */
	background-image: url("../images/Color_2.png");
}

input[type=radio][value="color03"]+label:before{
    /* background: #e8d1ff; */
	background-image: url("../images/Color_3.png");
}

input[type=radio][value="color04"]+label:before{
    /* background: #d1e8ff; */
	background-image: url("../images/Color_4.png");
}

input[type=radio][value="color05"]+label:before{
    /* background: #d1ffd1; */
	background-image: url("../images/Color_5.png");
}

input[type=radio][value="color06"]+label:before{
    /* background: #ffe8d1; */
	background-image: url("../images/Color_6.png");
}

.Color_selection_inner {
    padding: 0 1em 0 1em;
	width: 100%;
	max-width: 1270px;
	min-width: 290px;
	/* border-bottom: 1px solid gray; */
}

/*--------------------------------
寸法
---------------------------------*/
.Custom_size_box {
    width: 100%;
	max-width: 1270px;
	min-width: 500px;
	/* border: 1px solid black; */
	display: flex;
}

/* .Size_selection_txt_box {
	max-width: 150px;
	min-width: 150px;
	min-height: 72px;
	border: 1px solid black;
	background: #DBDBDB;
	position: relative;
} */

/* .Size_selection_txt { */
	/*text-align: center;*/
	/*line-height: 678px;*/
	/*padding-top: 100%;*/
	/*padding-bottom: 100%;*/
	/*font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}*/

.Size_txt_box {
	max-width: 150px;
	min-width: 150px;
	min-height: 74px;
	/* border: 1px solid black; */
	background: #DBDBDB;
	position: relative;
}

.Size_txt_inner {
	text-align: center;
	/*line-height: 678px;*/
	/*padding-top: 100%;*/
	/*padding-bottom: 100%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.Size_txt {
	font-size: 20px;
	font-weight: bold;
}

.Size_txt {
	font-size: 20px;
}

.Size_number {
	width: 100px;
}

.Size_selection_inner {
	display: flex;
	margin-top: -1px;
    padding: 0 1em 0 1em;
	
}

.Size_input {
	margin: 10px;
}

.Size_inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1270px;
	min-width: 290px;
	/* border-bottom: 1px solid gray; */
}

.Size_cm_mm_inner {
	margin-top: -1px;
    padding: 0 1em 0 1em;
	margin: 10px;
}

.Size_number_span {
	margin-left: 5px;
}

.Number_txt_inner {
	text-align: center;
	/*line-height: 678px;*/
	/*padding-top: 100%;*/
	/*padding-bottom: 100%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


/*--------------------------------
厚み
---------------------------------*/
/*.Thickness_inner {
   margin-top: -1px;
   padding: 0 1em 0 1em;
}*/

.Thickness_Custom_box {
	width: 100%;
	max-width: 1270px;
	min-width: 500px;
	/* border: 1px solid black; */
	display: flex;
	/* align-items: center; */
}

.Thickness_txt_box {
	max-width: 150px;
	min-width: 150px;
	min-height: 208px;
	/* border: 1px solid black; */
	background: #DBDBDB;
	position: relative;
}

.Thickness_txt {
	/*text-align: center;*/
	/*line-height: 678px;*/
	/*padding-top: 100%;*/
	/*padding-bottom: 100%;*/
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

input[type=radio]+.Thickness_label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    width: 160px;
    height: 206px;
	margin: 10px;
}

input[type=radio][value="Thickness01"]+label:before{
    background-image: url("../images/Thickness-01.png");
	background-repeat: no-repeat;
}

input[type=radio][value="Thickness02"]+label:before{
    background-image: url("../images/Thickness-02.png");
	background-repeat: no-repeat;

}

input[type=radio][value="Thickness03"]+label:before{
    background-image: url("../images/Thickness-03.png");
	background-repeat: no-repeat;
}

.Thickness_selection_inner {
    margin-top: -1px;
    padding: 0 1em 0 1em;
	width: 100%;
	max-width: 1270px;
	min-width: 290px;
	/* border-bottom: 1px solid gray; */
}

/*--------------------------------
枚数
---------------------------------*/
.Number_Custom_box {
    width: 100%;
	max-width: 1270px;
	min-width: 500px;
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
}

.Number_txt_box {
	max-width: 150px;
	min-width: 150px;
	min-height: 74px;
	/* border: 1px solid black; */
	background: #DBDBDB;
	position: relative;
}

.Number_txt_inner {
	text-align: center;
	/*line-height: 678px;*/
	/*padding-top: 100%;*/
	/*padding-bottom: 100%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.Number_txt {
	font-size: 20px;
	font-weight: bold;
}

.Number_selection_inner {
    margin-top: -1px;
    padding: 0 1em 0 1em;
	display: flex;
	/* border-bottom: 1px solid gray; */
	width: 100%;
	max-width: 1270px;
	min-width: 290px;
}

.Number_sheets {
	width: 100px;
}

.Number_input {
	margin: 10px;
}

.Number_sheets_span {
	margin-left: 5px;
}

/*--------------------------------
価格確認
---------------------------------*/
.Price_box {
	background: #f56500;
	padding: 10px 100px;
	margin: 0 auto;
	display: block;
	font-size: 20px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	border: none;
}

.Price_box:hover {
	opacity: 0.8;
}

.Price_inner {
	/* border: 1px solid black; */
	margin-top: 100px;
	margin-bottom: 200px;
}

/*--------------------------------
フッター
---------------------------------*/
.Footer_ul {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0;
	margin: 0 auto;
}

.Footer_li {
	margin-top: 40px;
	width: 20%;
	list-style: none;
}

.Footer_inner {
	height: 240px;
	background: #FF942A;
}

.Footer_a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.Footer_img {
	margin: 0 auto;
	margin-top: 40px;
}

.Footer_copy {
	height: 30px;
	background: #f56500;
	text-align: center;
}

.Footer_copy_txt {
	color: white;
	line-height: 30px;
}

/*--------------------------------
ここからタブレット・sp
---------------------------------*/
@media screen and (max-width: 1300px) {
	/* 1300px以下に適用されるCSS（タブレット用） */

/*--------------------------------
セレクト全体タブレット
---------------------------------*/
    .Body_inner {
	    max-width: 1300px;
	    margin: 0 auto;
	    padding: 0;
    }

/*--------------------------------
プレビュータブレット
---------------------------------*/
    .Preview_inner {
	    margin: 0 1rem;
    }

/*--------------------------------
画像タブレット
---------------------------------*/
    .Custom_inner {
	    width: 100%;
	    max-width: 1000px;
	    min-width: 0;
    }

}

@media screen and (max-width: 1050px) {
	/* 1050px以下に適用されるCSS（タブレット用） */

/*--------------------------------
ヘッダータブレット
---------------------------------*/
    h1 {
	    margin-left: 0;
    }

    #header img {
	    height: 3rem;
	}

	.head-pr {
		display: none;
	}

	#header {
		height: 60px;
	}
	
    .Cart_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
		margin-right: 0;
    }

    .Login_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
    }

    #header-btns {
	    margin-right: 1rem;
    }

/*--------------------------------
メインビジュアルタブレット
---------------------------------*/
    .MainVis_inner {
	    max-width: 1000px;
	    margin: 0 2rem;
	    margin-bottom: 160px;
    }

/*--------------------------------
セレクト全体タブレット
---------------------------------*/
    .Body_inner {
	    max-width: 1000px;
	    margin: 0 auto;
	    padding: 0;
    }

/*--------------------------------
プレビュータブレット
---------------------------------*/
    .Preview_inner {
	    margin: 0 1rem;
    }

/*--------------------------------
画像タブレット
---------------------------------*/
    .Custom_inner {
	    width: 100%;
	    max-width: 1000px;
	    min-width: 0;
    }

/*--------------------------------
形状タブレット
---------------------------------*/
/* ここからテンプレート画像ポップアップ */

/* 01 */
    .modal_pop img{
        height:60vh;
    }

/* 02 */
    .modal_pop02 img{
        height:60vh;
    }

/* 03 */
    .modal_pop03 img{
        height:60vh;
    }

/* 04
	*/
    .modal_pop04 img{
        height:60vh;
    }

/*--------------------------------
セレクト全体タブレット
---------------------------------*/
    .Body_inner {
	    max-width: 1000px;
	    margin: 0 auto;
	    padding: 0;
	    flex-direction: column;
    }

/*--------------------------------
プレビューsp
---------------------------------*/
    .Preview_box {
	    width: 400px;
	    height: 400px;
	   	border: 3px solid #333333;
	    margin-top: 10px;
    }

    .Preview_inner {
	    margin-right: 0;
	    margin: 0 auto;
	    margin-bottom: 2rem;
		text-align: center;
    }

}

@media screen and (max-width: 640px) {
	/* 640px以下に適用されるCSS（スマホ用） */

/*--------------------------------
ヘッダーsp
---------------------------------*/
    h1 {
	    margin-left: 0;
    }

    #header img {
	    height: 3rem;
	}

	.head-pr {
		display: none;
	}

	#header {
		flex-direction: column;
		height: 120px;
	}
	
    .Cart_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
		margin-right: 0;
    }

    .Login_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
    }

    #header-btns {
	    margin: 0 auto;
		display: flex;
		flex-direction: column-reverse;
    }

	.User-inner {
		margin-top: 0.3rem;
	}

/*--------------------------------
メインビジュアルsp
---------------------------------*/
    .MainVis_headline_flex {
	    justify-content: space-between;
	    align-items: center;
        margin: 0 1rem 60px 1rem;
    }

    .MainVis_headline_txt {
	    margin-right: 1rem;
    }

    .MainVis_img {
	    display: none;
    }

	.MainVis_pc {
		display: none;
	}

	.MainVis_sp_s {
		display: flex;
	}

    .MainVis_sp {
	    margin: 0 auto;
	    display: block;
	    max-width: 100%;
    }

 /*   .MainVis_headline {
	    margin-bottom: 1.5rem;
    } */

    .MainVis_headline_flex {
	    flex-direction: column-reverse;
    }

    .MainVis_headline_txt {
	    font-size: 0.9rem;
	    margin-right: 0;
	    margin-top: 3rem;
    }

    .MainVis_inner {
	    margin: 0 auto;
	    margin-bottom: 4rem;
    }

	.MainVis {
		margin-top: 120px;
	}

/*--------------------------------
会員登録sp
---------------------------------*/
/*     .Member_registration_txt {
	    line-height: 35px;
	    font-size: 1rem;
	    text-decoration: none;
	    padding: 15px 40px;
    } */

 /*更新*/   h2 {
	    margin-top: 0;
	    display: block;
	    text-align: center;
	    font-weight: bold;
    }

    .register {
	    width: 300px;
	    margin: 20px auto;
	    border-bottom: 5px solid #f56500;
    }

/*--------------------------------
サイト導線
---------------------------------*/	
    #Image-Element {
	    width: 800px;
	}

    .Member_registration_button {
        transform: translate(464px,-1176px);
}

/*--------------------------------
ダンボールセレクトsp
---------------------------------*/
    .Selection_inner {
	    text-align: center;
	    margin-bottom: 30px;
    }

    .btns {
	    padding: 0;
	    display: flex;
	    display: inline-block;
	    margin: 0 auto;
    }

    .Selection_btn {
        font-size: 1rem;
        font-weight: bold;
        margin: 0 15px 1rem 15px;
    }

	#btn1 {
		padding: 10px 44px;
	}

/*--------------------------------
セレクト全体sp
---------------------------------*/
    .Body_inner {
	    max-width: 1000px;
	    margin: 0 auto;
	    padding: 0;
	    flex-direction: column;
    }

    hr {
	    /* margin: 10px 0; */
		display: none;
    }

    input {
	    border-radius: 5px;
    }

    select {
	    border-radius: 5px;
    }

/*--------------------------------
プレビューsp
---------------------------------*/
    .Preview_box {
	    width: 70vw;
		/* min-width: 300px; */
	    height: 70vw;
		/* min-height: 300px; */
	    margin-top: 10px;
    }

    .Preview_inner {
	    margin-right: 0;
	    margin: 0 auto;
	    margin-bottom: 2rem;
    }

/*--------------------------------
画像sp
---------------------------------*/
    .Custom_inner {
	    width: 100%;
	    max-width: 1000px;
	    min-width: 0;
    }

    .Custom_image_box {
        width: 100%;
	    max-width: 1270px;
	    min-width: 0;
		flex-direction: column;
    }

    .Image_selection_txt_box {
	    width: 100%;
	    height: 60px;
	    position: relative;
    }

    .Image_selection_box {
	    width: 130px;
	    height: 170px;
    }

    .Input_file {
	    width: 124px;
	    font-size: 14px;
	    padding-left: 0.4rem;
    }

    .Image_selection_inner {
	    display: flex;
	    flex-wrap: wrap;
	    flex: 1;
		justify-content: center;
    }

    .Reset_buttun {
        padding: 5px 10px;
	    line-height: 40px;
	    height: 40px;
    }

    #Reset-inner {
	    margin-top: 0;
	    text-align: center;
	    padding: 0 1em 0 1em;
	    /* margin-left: 10px; */
		margin-bottom: 0.5rem;
    }

     .Image_selection_box img {
		 width: 130px;
		 height: 130px
	}
/*--------------------------------
形状sp
---------------------------------*/
    .Shape_selection_txt_box {
	    width: 100%;
	    height: 60px;
		max-width: 700px;
    }

    .Shape_txt_inner {
	    text-align: center;
        max-width: 150px;
	    min-width: 0;
    }

    .Shape_selection_txt {
	    font-size: 20px;
	    font-weight: bold;
    }

    .Custom_shape_box {
        width: 100%;
	    max-width: 1270px;
	    min-width: 0;
		flex-direction: column;
    }

    .Shape_selection_inner {
	    width: 100%;
	    max-width: 1270px;
	    min-width: 0;
		margin-top: 0.5rem;
    }

    input[type=radio]+label:before{
        content: "";
        display: inline-block;
        background-size: contain;
        width: 160px;
        height: 160px;
	    margin: 0.2rem;
    }

    #tabbody div {
        padding: 0;
    }

/* ここからテンプレート画像ポップアップ */

/* 01 */
    .modal_pop img{
        height:50vh;
		left: 48%;
    }

/* 02 */
    .modal_pop02 img{
        height:50vh;
		left: 48%;
    }




/*--------------------------------
配色sp
---------------------------------*/
    .Custom_color_box {
        width: 100%;
	    max-width: 1270px;
	    min-width: 0;
		flex-direction: column;
    }

    .Color_selection_txt_box {
	    width: 100%;
	    height: 60px;
		max-width: 700px;
		min-height: 0;
    }

    .Color_selection_inner {
	    max-width: 1270px;
	    min-width: 0;
		text-align: center;
    }

input[type=radio]+.Color_label:before {
    width: 35px;
    height: 35px;
    margin: 25px 5px 20px 5px;
}

/*--------------------------------
寸法sp
---------------------------------*/
    .Custom_size_box {
	    min-width: 0;
		flex-direction: column;
    }

    .Size_txt_box {
	    width: 100%;
	    min-width: 0;
		max-width: 700px;
		height: 60px;
		min-height: 0;
    }

    .Size_selection_inner {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
		justify-content: space-between;
	    margin-bottom: 0.5rem;
    }

    .Size_inner {
	    min-width: 0;
    }

	.Size_txt02 {
		display: none;
	}

/*--------------------------------
厚みsp
---------------------------------*/
    .Thickness_Custom_box {
	    width: 100%;
	    max-width: 1270px;
	    min-width: 0;
	    display: flex;
		flex-direction: column;
    }

    .Thickness_txt_box {
	    width: 100%;
	    min-width: 0;
		max-width: 700px;
		height: 60px;
		min-height: 0;
    }

    .Thickness_selection_inner {
	    display: flex;
	    min-width: 0;
	    flex-direction: row;
	    flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 0.5rem
    }

    input[type=radio]+.Thickness_label:before{
        width: 140px;
        height: 180px;
    }

/*--------------------------------
枚数sp
---------------------------------*/
    .Number_Custom_box {
        width: 100%;
	    max-width: 1270px;
	    min-width: 0;
		flex-direction: column;
    }

    .Number_txt_box {
	    width: 100%;
	    min-width: 0;
		max-width: 700px;
		height: 60px;
		min-height: 0;
    }

/*--------------------------------
価格確認sp
---------------------------------*/
    .Price_box {
	    padding: 0.5rem 3rem;
	    margin: 0 auto;
	    font-size: 20px;
    }

    .Price_inner {
	    margin-top: 100px;
	    margin-bottom: 6rem;
    }

/*--------------------------------
フッターsp
---------------------------------*/
    .Footer_a {
	    /* font-size: 0.75rem; */
		/* width: 50%; */
		display: block;
		padding: 1rem 1rem;

    }

	.Footer_ul {
		flex-wrap: wrap;
		/* justify-content: space-around; */
	}
	
	.Footer_li {
		width: 50%;
		margin-top: 0;
		/* padding: 0.5rem 1rem; */
	}
	
	.Footer_img {
		margin-top: 1rem;
	}
}
