@charset "UTF-8";

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

p,
h1,
h2,
span {
	color: #333333;
}

a {
    transition : all 0.5s ease 0s;
}

/*--------------------------------
ヘッダー
---------------------------------*/
#header {
	height: 60px;
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.Cart_buttun {
	text-decoration: none;
	border-radius: 5px;
    background: white;
	border: 3px solid #f56500;
    padding: 10px 20px;
    color: #f56500;
	line-height: 40px;
	height: 40px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 16px;
}

.Login_buttun {
	text-decoration: none;
	border-radius: 5px;
    background: #f56500;
    padding: 10px 20px;
    color: white;
	line-height: 40px;
	height: 40px;
	border: 3px solid #f56500;
	font-weight: bold;
}

#header-btns {
	margin-left: auto;
	margin-right: 40px;
	display: flex;
	align-items: center;
}

h1 {
	margin-left: 20px;
}

/*Go to top*/
a:hover {
    background-color: #ed702b;
}

.Cart_buttun:hover {
	background-color: white;
	opacity: 0.7;
}

.Cart_buttun::before {
	content: "";
    display: inline-block;
    background-image: url("../images/cart-icon.svg");
    height: 28px;
    width: 28px;
	position: relative;
	top: 8px;
}

.User-inner {
	margin-right: 10px;
}

#User-name {
	font-weight: bold;
}

.head-pr {
	font-size: 0.8rem;
}

/*--------------------------------
パンくずリスト
---------------------------------*/
.Breadcrumb {
    background: #f56500;
    color: #fff;
    padding: 0.1em;
    margin-top: 60px;
	margin-bottom: 40px;
}

.Breadcrumb-ListGroup {
    display: flex;
}

.Breadcrumb-ListGroup-Item-Link[href]:hover {
    opacity: 0.5;
}

.Breadcrumb-ListGroup-Item-Link {
	text-decoration: none;
}

.Breadcrumb-ListGroup-Item-Link span {
	color: white;	
}

.Breadcrumb-ListGroup-Item {
	list-style: none;
	padding: 0.625rem 0;
}

.Breadcrumb-ListGroup > * + * {
    margin-left: 0.5em;
}

.Breadcrumb-ListGroup > * + *::before {
    content: ">";
    margin-left: 0.75em;
    margin-right: 0.75em;
	color: white;
}

/*--------------------------------
ライン
---------------------------------*/
h2 {
	display: block;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}

.line {
	width: 100%;
	margin: 20px auto;
	border-bottom: 5px solid #f56500;
}

/*--------------------------------
ガイドリスト
---------------------------------*/
ol.Guide-list{
    counter-reset:list;
    list-style-type: none;
    font: 14px/1.6 'arial narrow', sans-serif;
    padding: 0;
    z-index: 10;
}

ol.Guide-list li{
    position: relative;
    margin: 7px 0 7px 0px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    border-top: 2px solid #FF942A;
    border-right: 2px solid #FF942A;
    border-bottom: 2px solid #FF942A;
    color: #756C67;
    min-width: 140px;
    background: #fff;
}

ol.Guide-list li:before{
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: 0px;
    width: 32px;
    height: 100%;
    text-align: center;
    color: #fff;
    line-height:30px;
    background: #FF942A;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Guide-list {
	width: 20%;
	margin-left: 2rem;
	position: fixed;
}

ol.Guide-list li a {
	text-decoration: none;
	color: #333333;
	display: block;
}

ol.Guide-list li a:hover {
	background-color: white;
	opacity: 0.7;
}

/*--------------------------------
配送
---------------------------------*/
#Guide-delivery {
	max-width: 1100px;
}

#Guide-delivery img {
	width: 50%;
	margin: 4rem auto;
}

#Guide-box {
	/* margin-left: 25%;
	margin-right: 5%; */
	/* margin: 0 0 0 auto; */
}

main div {
	margin: 0 1% 0 auto;
}

#Guide-delivery table {
	margin: 0 auto;
}

table {
    width: 450px;
    border: solid #ccc;
    border-width: 1px 0 0 1px;
    font-size: 80%;
    line-height: 1.32em;
}

table td {
    width: 70%;
    padding: 5px;
    border: solid #ccc;
    border-width: 0 1px 1px 0;
}

table td.title {
    background: #eee;
}

table th {
    width: 30%;
    padding: 5px;
    border: solid #ccc;
    border-width: 0 1px 1px 0;
}

#area-flex {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

tr,
td,
th {
	white-space: nowrap;
}

#area-1,
#area-2,
#area-3,
#area-4,
#area-5,
#area-6,
#area-7,
#area-8,
#area-9 {
	margin: 10px;
}

.title {
	color: white;
	font-weight: bold;
}

#area-1 table tr .title {
	background: #6699CC;
}

#area-2 table tr .title {
	background: #70D5CB;
}

#area-3 table tr .title {
	background: #C0C743;
}

#area-4 table tr .title {
	background: #75B777;
}

#area-5 table tr .title {
	background: #EEB838;
}

#area-6 table tr .title {
	background: #F48C3F;
}

#area-7 table tr .title {
	background: #F1A295;
}

#area-8 table tr .title {
	background: #E77972;
}

#Guide-delivery .line h2 {
	margin-top: 100px;
}

.Ship {
	color: #ff6347;
}

/*--------------------------------
お支払い方法
---------------------------------*/
#Guide-pay {
	max-width: 1100px;
}

#Mail-box {
	display: flex;
	align-items: center;
	margin-top: 3rem;
	justify-content: center;
}

.mail-icon {
	/* border: 1px solid #333333; */
	width: 100px;
	min-width: 100px;
	height: 100px;
	min-height: 100px;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #FF942A;
	margin-left: 2rem;
}

#Mail-box p {
	margin-left: 4rem;
	margin-right: 2rem;
}

#Mail-box p span {
	color: #FF942A;
	font-weight: bold;
}

#Guide-pay h2 {
	margin-top: 100px;
}

/*--------------------------------
ご注文の流れ
---------------------------------*/
#Order-flow {
	max-width: 1100px;
}

.flow-items {
	width: 300px;
	min-width: 260px;
	border: 10px solid #f56500;
	/* border: 1px solid gray; */
	/* 背景をオレンジに文字を白に、番号１、２、３を振る */
	height: 480px;
}

.flow-items div h4 {
	text-align: center;
	font-weight: bold;	
	font-size: 20px;
}

.flow-items img {
	margin: 0 auto;
	margin-top: 1rem;
}

.items-border {
	width: 80%;
	margin: 20px auto;
	border-bottom: 5px solid #f56500;
}

.items-txt {
	margin-right: 10%;
	margin-left: 10%;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	margin-top: 1rem;
	color: #f56500;
}

#Flow-box {
	display: flex;
	/* justify-content: space-between; */
	justify-content: center;
	margin-top: 2rem;
}


.flow-items:first-child {
	margin-left: 2rem;
}

.flow-items:last-child {
	margin-right: 2rem;
}

.Arrow {
	position: relative;
	margin-right: 25px;
}

.Arrow::after {
	content: "";
	position: absolute;
    width: 0;
    height: 0;
	top: 50%;
	left: 100%;
	transform: translate(10%,-50%);
    border-style: solid;
    border-width: 20px 0 20px 35px;
    border-color: transparent transparent transparent #f56500;
}

.items-span {
	font-size: 13px;
	font-weight: 500;
}


/*--------------------------------
フッター
---------------------------------*/
.Footer_ul {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0;
	margin: 0 auto;
}

.Footer_li {
	margin-top: 40px;
	width: 20%;
	list-style: none;
}

.Footer_inner {
	height: 240px;
	background: #FF942A;
	margin-top: 200px;
}

.Footer_a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.Footer_img {
	margin: 0 auto;
	margin-top: 40px;
}

.Footer_copy {
	height: 30px;
	background: #f56500;
	text-align: center;
}

.Footer_copy_txt {
	color: white;
	line-height: 30px;
}

/*--------------------------------
ここからタブレット・sp
---------------------------------*/
@media screen and (max-width: 1500px) {
	/* 1300px以下に適用されるCSS（タブレット用） */

/*--------------------------------
配送
---------------------------------*/
    #Guide-delivery {
	    max-width: 800px;
    }

/*--------------------------------
お支払い方法
---------------------------------*/
    #Guide-pay {
	    max-width: 800px;
    }

/*--------------------------------
ご注文の流れ
---------------------------------*/
    #Order-flow {
	    max-width: 800px;
    }

    .flow-items div h4 {
	    text-align: center;
	    font-weight: bold;	
	    font-size: 16px;
    }

}

@media screen and (max-width: 1200px) {
	/* 1300px以下に適用されるCSS（タブレット用） */

/*--------------------------------
配送
---------------------------------*/
    #Guide-delivery {
	    max-width: 800px;
    }

/*--------------------------------
お支払い方法
---------------------------------*/
    #Guide-pay {
	    max-width: 800px;
    }

/*--------------------------------
ご注文の流れ
---------------------------------*/
    #Order-flow {
	    max-width: 800px;
    }

    .flow-items {
	    width: 200px;
	    min-width: 200px;
	    border: 10px solid #f56500;
	    /* border: 1px solid gray; */
	    /* 背景をオレンジに文字を白に、番号１、２、３を振る */
	    height: 380px;
    }

    h3 {
	    text-align: center;
	    font-weight: bold;
	    font-size: 2rem;
	    margin-top: 1rem;
	    color: #f56500;
    }

    .flow-items img {
	    margin: 0 auto;
	    margin-top: 1rem;
		width: 70px;
		height: 70px;
    }

    .flow-items div h4 {
	    text-align: center;
	    font-weight: bold;	
	    font-size: 13px;
    }

    .items-txt {
	    margin-right: 5%;
	    margin-left: 5%;
	    font-weight: 500;
		font-size: 12px;
    }

    .items-span {
	    font-size: 10px;
	    font-weight: 500;
    }

}

@media screen and (max-width: 1050px) {
	/* 1050px以下に適用されるCSS（タブレット用） */

/*--------------------------------
ヘッダータブレット
---------------------------------*/
    h1 {
	    margin-left: 0;
    }

    #header img {
	    height: 3rem;
	}

	.head-pr {
		display: none;
	}

	#header {
		height: 60px;
	}
	
    .Cart_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
		margin-right: 0;
    }

    .Login_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
    }

    #header-btns {
	    margin-right: 1rem;
    }

/*--------------------------------
よくある質問タブレット
---------------------------------*/
    #register {
	    width: 500px;
	    margin: 20px auto;
	    border-bottom: 5px solid #f56500;
    }

}

@media screen and (max-width: 860px) {
	/* 860px以下に適用されるCSS（スマホ用） */

/*--------------------------------
ガイドリスト
---------------------------------*/
	.Guide-list {
		display: none;
	}

/*--------------------------------
配送
---------------------------------*/
	main div {
		margin: 0 auto;
	}

    #Guide-delivery img {
	    width: 95%;
	    margin: 2rem auto;
    }

/*--------------------------------
ライン
---------------------------------*/
	.line {
		width: 80%;
	}

}

@media screen and (max-width: 700px) {
	/* 700px以下に適用されるCSS（スマホ用） */

/*--------------------------------
ご注文の流れ
---------------------------------*/
	.flow-items {
		/* display: flex; */
		width: 95%;
		height: 30%;
		/* align-items: center; */
	}
	
	.flow-flex-01 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.5rem;
	}

	#Flow-box {
		flex-direction: column;
	}

	.flow-items:first-child {
		margin: 0 auto 2rem auto;
	}

	.flow-items:last-child {
		margin: 2rem auto 0 auto;
	}

	.Arrow {
		margin: 0 auto;
	}
	
/* .Arrow::after {
	content: "";
	position: absolute;
    width: 0;
    height: 0;
	top: 50%;
	left: 100%;
	transform: translate(10%,-50%);
    border-style: solid;
    border-width: 20px 0 20px 35px;
    border-color: transparent transparent transparent #f56500;
} */

    .Arrow::after {
	    content: "";
	    position: absolute;
        width: 0;
        height: 0;
	    top: 100%;
	    left: 50%;
	    transform: translate(-50%,10%);
        border-style: solid;
        border-width: 35px 20px 0 20px;
        border-color: #f56500 transparent transparent transparent;
    }

    h3 {
	    text-align: center;
	    font-weight: bold;
	    font-size: 2rem;
	    margin-top: 0;
	    color: #f56500;
    }

    .flow-items img {
	    margin-top: 0;
		width: 70px;
		height: 70px;
    }

	.items-border {
		width: 50%;
	}

    .flow-items div h4 {
	    text-align: center;
	    font-weight: bold;	
	    font-size: 16px;
    }

	.items-txt {
	    font-size: 14px;
		margin: 1rem;
	}

/*--------------------------------
配送
---------------------------------*/
	/* #area-flex {
        overflow-x: scroll;
	}

    #area-flex table {
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
    } */

	#area-flex {
		display: block;
	}
	
	#area-flex div table {
		width: 95%;
	}

/*--------------------------------
お支払い方法
---------------------------------*/
	#Mail-box {
		flex-direction: column;
		margin-top: 0;
	}

	.mail-icon {
		margin: 0 auto 2rem auto;
	}

	#Mail-box p {
		margin: 0 auto;
		padding: 0 1rem;
	}

}

@media screen and (max-width: 640px) {
	/* 640px以下に適用されるCSS（スマホ用） */

/*--------------------------------
ヘッダーsp
---------------------------------*/
    h1 {
	    margin-left: 0;
    }

    #header img {
	    height: 3rem;
	}

	.head-pr {
		display: none;
	}

	#header {
		flex-direction: column;
		height: 120px;
	}
	
    .Cart_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
		margin-right: 0;
    }

    .Login_buttun {
        padding: 0.5rem 1rem;
	    line-height: 40px;
	    height: 40px;
    }

    #header-btns {
	    margin: 0 auto;
		display: flex;
		flex-direction: column-reverse;
    }

	.User-inner {
		margin-top: 0.3rem;
	}

/*--------------------------------
パンくずリストsp
---------------------------------*/
	.Breadcrumb {
		margin-top: 120px;
	}

/*--------------------------------
会員登録sp
---------------------------------*/
    h2 {
	    display: block;
	    text-align: center;
	    font-weight: bold;
    }

    #register {
	    width: 300px;
	    margin: 20px auto;
	    border-bottom: 5px solid #f56500;
    }

/*--------------------------------
フッターsp
---------------------------------*/
    .Footer_a {
	    /* font-size: 0.75rem; */
		/* width: 50%; */
		display: block;
		padding: 1rem 1rem;

    }

	.Footer_ul {
		flex-wrap: wrap;
		/* justify-content: space-around; */
	}
	
	.Footer_li {
		width: 50%;
		margin-top: 0;
		/* padding: 0.5rem 1rem; */
	}
	
	.Footer_img {
		margin-top: 1rem;
	}

}
